html, body {
  margin: 0;
	background-size: cover;
  overflow: visible;
  height: 100%
}

a {
  text-decoration:none;
}

a:hover, a:active, a:visited, a:focus {
  text-decoration:none;
  color: #4f4e4e;
}

a:hover {
  color: #4f4e4e;
  text-decoration: none
}

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.main-wrapper {
  width: 100%;
  height: 100%;
}

.login-wrapper {
  background: #f6f6f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  width: 100%;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.header {
	background-color: white !important;
  height: 80px;
  align-items: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0));
  justify-content: center;
  padding: 0 55px !important;
  z-index: 9999;
  top: 0;
  position: fixed !important;
}

.header.shrink {
  height: 80px;
}

.header.transparent {
  background: transparent !important;
  box-shadow: none !important;
  height: 100px;
}

.header.transparent > div > div > a > h4 {
  color: white !important;
}

.logo-container-header {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
  width: 17%
}

.logo-container-header > h4 {
  min-width: 200px;
  font-family: 'Montserrat';
  margin-top: 11px;
}

.logo-header {
  transform: translate(0px, 10px);
  min-width: 20px 
}

div > div > a.logo-container-header > h4.colored {
  color: #323232 !important;
}

.header > h1 {
	color: black !important;
  font-family: 'Roboto Slab';
  font-weight: 100 !important;
  padding-top: 5px;
}

.header > button > div > svg {
	color: black !important;
	fill: black !important;
}

.index-jumbotron {
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-image: url('../images/monumento2.gif');
  background-size: cover;
  align-items: center;
  display: flex;
  justify-content: center;
}

.index-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-y: visible;
  overflow-x: hidden;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 50%;
  justify-content: center;
  padding: 53px;
}

.blur-div {
  position: absolute;
  width: 50%;
  height: 50%;
  background-image: url('../images/monumento2.gif');
  background-position: 50% 46%;
  background-size: 200%;
  border-radius: 3px;
  filter: blur(5px);
}

.form-container:nth-child(2) h1::selection {
  color: white !important;
  background: #b0efb1 !important;
}

.row-wrap {
	display: flex; 
	flex-direction: row; 
	flex: 0.7;
	background: white;
  border-radius: 4px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) -3px 1px 20px 3px;
  height: 72px;
}

.search-input-main-container {
	display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  z-index: 2;
}

.search-input-main-container > div > .search-input {
  height: 70px !important;
}

.search-input-main-container > div > .options-container {
  width: 30%;
  transform: translate(50px, 70px);
  outline: none;
  max-height: 500px;
  overflow: hidden;
  overflow-y: scroll;
  flex-wrap: wrap;
}

.options-container > li:nth-child(1) {
  margin-top: 20px
}

.options-container > li:hover {
  color: #76adcb !important;
}

.options-container > li:hover > a::after {
  width: 40%;
  border-bottom: solid #76adcb 1px;
}

.search-input {
  font-size: calc(1.5vw) !important;
  height: 95% !important;
  width: 400px;
  border: none;
  outline: none;
  font-family: 'Roboto Slab';
}

.search-input:focus-within ~ ul.options-container {
  height: 444px;
  opacity: 1;
}

ul.options-container:active {
  height: 444px !important;
  opacity: 1;
}

.search-input::selection {
  color: white !important;
  background: #b0efb1 !important;
}

.icon {
  flex: 0.03;
  height: 52px !important;
  border: none;
  padding: 10px;
  outline: none;
  min-width: 54px;
  color: rgba(88, 88, 88, 0.87) !important;
}
.search-input-main {
  display: flex !important;
  flex: 0.8 !important;
  font-size: calc(1.5vw + 1.5vh) !important;;
  font-weight: 200 !important;;
  border: none !important;;
  font-family: 'Roboto Slab', serif !important;;
  outline: none !important;;
  color: #4a4a4a !important;;
  padding-bottom: 2px !important;
  height: 75px !important
}

.search-input-main > div > hr {
  display: none;
}

.search-input-main > input::selection {
  color: white !important;
  background: #b0efb1 !important;
}

.search-input-main-btn-container {
	flex: 0.1;
  font-size: 40px;
}

.search-input-main-btn-container {
	flex: 0.2;
}

.search-input-main-btn {
  display: flex !important;
  font-size: 30px !important;
  margin-top: 13px !important;
  background: #b0efb1 !important;
  border: none !important;
  color: #585858 !important;
  font-weight: 300 !important;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 5px 0px !important;
  outline: none !important;
  transition: all 0.1s ease !important;
  margin: 13px 30px !important;
  padding: 0px !important;
  height: 61% !important;
}

.search-input-main-btn:hover {
	transform: translateY(-1px) scale(1.004);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px 0px
}

.header-btns-container {
	display: flex;
	justify-content: space-between;
  float: right
}

.header-btns-container > button {
	display: flex !important;
  justify-content: center !important;
  margin: 5px 10px !important;
  border-radius: 4px !important;
  transition: all 0.5s ease;
}


.login-btn-header {
  background: #b0efb1 !important;
  color: #fff !important;
}

.login-btn-header:hover {
  background: #bbfbbe !important;
}

.signup-btn-header {
	background: rgba(99, 139, 230, 0.76) !important;
  color: white !important;
}

.signup-btn-header:hover {
  background: rgba(99, 139, 230, 0.66) !important;
}

.publish-btn-header {
	background: #fff !important;
}

.slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slogan > h1 {
  display: flex !important;
  text-align: center;
  font-size: calc(2vw + 2vh);
  font-family: 'Montserrat';
  margin-top: 0;
  background: linear-gradient(#b0efb1,  #b8f8c6);
  padding: 10px;
}

.slogan > h1:nth-child(2) {
  background: linear-gradient(rgba(99, 139, 230, 0.8), rgba(99, 139, 230, 0.7));
}

.logo {
  display: flex;
  background-size: contain;
  height: 121%;
  width: 13%;
  background-repeat: no-repeat;
  overflow: visible;
  align-self: flex-start;
}

.listings-jumbotron {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-image: url('../images/monumento3.webp');
  background-size: cover
}

.listing-cards-container {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  width: 100%;
  background: linear-gradient(#ffffff, #d6d6d6);
  min-height: 400px;
}

.listings-body-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transform: translateY(25px);
  flex-direction: column;
}

.listing-card.listing {
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
}

.listing-card.loading {
  cursor: default;
  transition: all 0.5s ease;
  background: linear-gradient(220deg, #f1f3f4, #f1f3f4, #f1f3f4, #f1f3f4, #e3e4e8, #e3e4e8, #e5e6ea, #e5e6ea, #e5e6ea);
  background-size: 600% 600%;

  -webkit-animation: loading-gradient 2.3s linear infinite;
  -moz-animation: loading-gradient 2.3s linear infinite;
  animation: loading-gradient 2.3s linear infinite;
}

.listing-img {
  width: 100%;
  height: 100%;
}

.slider-btn {
  cursor: pointer;
}

#nprogress {
  position: relative;
  z-index: 9999;
}

@-webkit-keyframes loading-gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes loading-gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes loading-gradient { 
    0%{background-position:0% 50%}
    50%{background-position:80% 50%}
    100%{background-position:0% 50%}
}


.fade-enter {
  opacity: 0.01;
  width: 0px;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  width: 100px;
  transition: 700ms;
}

.fade-leave {
  opacity: 1;
  width: 100px;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  width: 0px;
  transition: 700ms;
}

.card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.user-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  align-self: center;
  justify-content: center
}

.user-card {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 40%;
  margin: 10px;
  background: #ececec;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.23) 1px 1px 6px;
  list-style: none;
  font-weight: bold;
}

.user-card > a {
  width: 100%;
}

.user-card > a:hover {
  color: inherit;
  width: 100%;
}

.info-container-inner {
  flex: 0.3;
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
}

.info-container-inner.small {
  position: absolute;
  width: 200px;
  align-self: center;
  padding: 0
}
.info-header {
  display: flex;
  flex-direction: row;
  font-size: 22px;
  justify-content: space-between;
  font-family: 'Montserrat';
  padding-top: 10px;
}

.info-header.small {
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.78), rgba(73, 74, 68, 0));
  width: 100%;
  height: 71px;
  justify-content: flex-start;
  align-items: flex-start;
}

.info-title {
  color: #373a3c !important;
  font-size: 90%;
  font-weight: bold;
}

.info-title.small {
  display: flex;
  font-size: 60%;
  color: white !important;
  padding: 0px 10px;
  align-items: center;
  width: 200px;
  box-sizing: border-box;
  justify-content: space-between;
}

.info-price {
  font-weight: bold;
  color: rgba(99, 139, 230, 0.76) !important;
}

.info-users.small {
  display: flex;
  color: #b0efb1;
  align-items: center;
}

.info-price.small {
  display: flex;
  font-size: 90%;
  color: white !important;
  padding-left: 10px;
}

.listing-card-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.listing-card-info > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.listing-card-info > div:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.listing-card-info > div:nth-child(1) > span {
  color: #5b5b5b;
  font-weight: bold;
  font-size: 14px;
  font-family: 'Montserrat'
}

.listing-status-wrapper {
  position: absolute;
  width: 400px;
  display: flex;
  z-index: 99
}

.listing-status-container {
  float: right;
  display: flex;
  font-size: 22px;
  color: #b0efb1;
  border-radius: 0px 0px 20px 0px;
  justify-content: space-between;
  width: 100%;
}

.listing-status {
  display: flex;
  justify-content: center;
  text-shadow: rgb(78, 78, 78) 0px 1px 16px;
  padding: 10px;
}

.listing-status > i {
  font-size: 42px;
}

.add-remove-icon {
  opacity: 0;
  color: white;
  font-size: 42px;
  transition: all 0.1s ease;
}

.add-remove-icon > svg {
  height: 48px !important;
  width: 70px !important;
  fill: #fff !important;
  transition: all 0.2s ease;
  position: absolute;
  right: 0px;
}

.add-remove-icon:hover > svg {
  transform: scale(1.2);
}

.check-icon {
  color: white;
  font-size: 42px;
  transition: all 0.1s ease;
  opacity: 0;
}

.check-icon.fade-away {
  opacity: 0;
}

.check-icon.fade-in {
  display: block;
  animation: check-icon-show 0.2s forwards 1;
}

.check-icon > svg {
  height: 48px !important;
  width: 70px !important;
  fill: #b0efb1 !important;
  color: #fff !important;
}

.interest-status {
  transition: all 0.5s ease;
}

.listing:hover > div > div > div > div.add-remove-icon {
  opacity: 1 !important
}

.slider-btn-wrapper.prev {
  opacity: 0;
  transition: all 0.3s ease;
  display: flex;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.17), rgba(0, 0, 0, 0));
  position: absolute;
  z-index: 1;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  width: 26%;
  align-items: center;
}

.slider-btn-wrapper.next {
  opacity: 0;
  transition: all 0.3s ease;
  display: flex;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.17));
  position: absolute;
  z-index: 1;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  width: 26%;
  align-items: center;
  left: 296px;
}

.listing:hover > div > div > div.slider-btn-wrapper.prev {
  opacity: 1 !important
}

.listing:hover > div > div > div.slider-btn-wrapper.next {
  opacity: 1 !important
}

.slider-btn {
  background: none;
  border: none;
  outline: none;
  display: flex;
  align-self: center;
  height: 29%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 45%;
}

.slick-list {
  position: absolute;
}

.material-icons.prev {
  font-size: 130px;
  color: white !important;
  display: flex !important;
  align-items: center;
  width: 75px !important;
  justify-content: center;
  height: 292px !important;
  outline: none;
}

.material-icons.next {
  font-size: 130px;
  color: white !important;
  display: flex !important;
  align-items: center;
  width: 75px !important;
  justify-content: center;
  height: 292px !important;
  outline: none;
}

.slick-slider {
  display: flex;
  flex: 0.68;
}

.card-content.small > div.slick-slider {
  flex: 1;
}

.card-content.small > div.slick-slider > div.slider-btn-wrapper.next {
  left: 150px;
}

.slick-list, .slick-track {
  height: 100%
}

.listings-header-left-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
}

.search-bar-header-container {
  display: flex;
  height: 85%;
  width: 100%;

}

.search-bar-header-container > div > .search-input-main-btn-container > button {
  display: none !important
}

.search-bar-header-container > div > svg {
  height: 29px !important;
}

.search-bar-header-container > .row-wrap {
  box-shadow: rgba(0, 0, 0, 0.2) -3px 1px 10px 0px;
  height: 47px
}

.search-bar-header-container > .row-wrap > div > div > input {
  font-size: calc(1.5vw) !important;
  height: 100% !important;
  width: 400px;
}

.search-bar-header-container > .row-wrap > div > div.search-input-main {
  height: 100% !important
}
.header > div {
  width: 50% !important;
}

.logo-title {
  z-index: 9;
}

.options-container {
  opacity: 0;
  transition: all 0.2s ease;
  position: absolute;
  flex-direction: column;
  background: white;
  justify-content: center;
  z-index: 9;
  width: 455px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.2) -3px 1px 20px 3px;
  overflow-y:scroll;
  list-style-type: none;
  padding: 0px;
  transform: translateY(45px);
  z-index: -1;
  margin: 0px;
  font-family: 'Montserrat';
  height: 0%
}

.options-container > li {
  transition: all 1.1s ease;
  height: 60px;
  background: white;
  width: 100%;
  align-items: center;
  cursor: pointer;
}

.options-container > li > a::after {
  display: flex;
  transition: all 0.3s ease;
  content: '';
  width: 20%;
  height: 4px;
  border-bottom: solid #cbc9c9 1px;
  transform: translateY(0px);
}

.options-container > li > a {
  font-size: calc(1.5vw);
  font-weight: 200;
  color: #636161;
  transform: translateY(10px);
  width: 100%;
  justify-content: center;
  align-items: center;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cls-1 {
  fill: #fefefe;
}

.cls-2 {
  fill: #87a6eb;
}

.cls-3 {
  fill: #fdfefd;
}

.listings-title-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 86px 0px 26px 0px;
  align-items: center;
}

h1::selection, h2::selection {
  color: white !important;
  background: #b0efb1 !important;
}

.listings-title {
  font-size: ~"calc(22px + 3vw)";
  color: #fff;
  font-weight: 200;
  font-family: 'Roboto Slab';
  text-align: center;
  margin: 20px 0px;
  text-shadow: #0000006b 0px 0px 6px;
}

.listings-subtitle {
  font-size: ~"calc(16px + 2vw)";
  color: #fff;
  font-weight: 200;
  font-family: 'Roboto Slab';
  text-align: center;
  margin: 10px 0px;
  text-shadow: #0000006b 0px 0px 6px;
}

.toolbar {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding: 20px;
  width: 700px;
  justify-content: center;
  align-items: center;
  transform: translateY(20px);
  background: linear-gradient(180deg, #5f7b7b, #4d6f6f);
  border-radius: 9px;
  box-shadow: rgba(0, 0, 0, 0.21) -2px 3px 15px 6px;
  font-family: 'Roboto Slab';
  margin-bottom: 100px;
  box-sizing: border-box;
  color: white
}

.price-range-input-wrapper {
  display: flex;
  flex-direction: row
}

.price-range-input-container {
  display: flex;
  flex-direction: column;
  align-items: center
}
.price-range-input {
  display: flex;
  width: 40px;
  margin: 0 10px;
}

.price-range-checkbox-container {
  display: flex;
  flex-direction: column;
  margin: 0px 25px;
  font-family: 'Roboto Slab'
}
.price-range-checkbox-container > div > input {
  margin: 0 5px;
}

.separator {
  margin: 0 40px;
}

.furnished-filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.furnished-filter-container > div > div > label {
  font-family: 'Roboto Slab' !important;
  color: white !important
}

.login-form-container {
  width: 30%;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.login-title {
  display: flex;
  font-family: 'Montserrat';
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transform: translateY(-30px);
}

.login-form {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 4px;
  box-shadow: 0 2px 21px 0 rgba(0,0,0,.03), 0 1px 4px 0 rgba(0,0,0,.06);
  padding: 30px;
  max-width: 420px;
}

.login-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.login-input-container > label > input {
  height: 50px;
  border: solid black 1px;
  border-radius: 5px;
  font-size: 22px;
  padding: 0 10px;
  font-weight: 300;
  color: #454447;
  outline: none;
  transition: all 0.5s ease;
  background: #f6f6f9;
  border: solid #bfc0c3 1px;
}

.login-input-container > label {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat';
  font-weight: 400;
}

.login-input-container > label > input:focus {
  height: 50px;
  border: solid rgba(99, 139, 230, 0.76) 2px;
  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.13), 0 0 1px #4f6eb5
}

.login-input-container > label > input:valid {
  border-color: #b0efb1;
  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.13), 0 0 1px #b0efb1;
}

.login-form-btn  {
  margin: 20px 0;
  padding: 10px;
  background: #87a6eb;
  height: 50px;
  color: #434344;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Montserrat';
  box-shadow: rgba(0, 0, 0, 0.1) -3px 1px 20px 3px;
  outline: none;
  cursor: pointer;
}

.login-form-btn:hover {
  background: #8bacf8;
}

.login-input-container:last-of-type::after  {
  content: ' ';
  height: 1px;
  width: 100%;
  background: #bababa;
  transform: translateY(30px);
}

.login-form-btn.disabled {
  background: #767678
}

.helper-links {
  display: flex;
  justify-content: center
}

.helper-link {
  margin: 20px;
  text-decoration: underline;
}

.login-logo {
  transform: translateY(25px); 
}

.slogan-container {
  width: 100%;
  z-index: 1;
}

.slogan > h1 {
  color: white;
  margin-bottom: 19px;
  font-weight: 200;
}

.divider {
  width: 80%
}

.listing-card-divider {
  content: ' ';
  height: 1px;
  width: 80%;
  background: #bcc2c4;
  margin: 5px 0;
  align-self: center;
  display: flex;

}

.divider-diagonal {
  position: absolute;
  height: 140px;
  width: 103%;
  background: inherit;
  transform: rotate(-8deg) translate(0px, -39px);
  z-index: 0;
}

.divider-diagonal::before {
  content: ' ';
  position: absolute;
  height: 130px;
  width: 100%;
  background: inherit;
  transform: rotate(13.8deg) translate(-12px, 1.5px);
  z-index: 0;
}

.elevator-pitch-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.index-elevator-pitch-container {
  z-index: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Montserrat';
}

.index-elevator-pitch-container > h1 {
  margin: 50px;
  font-weight: bold;
  font-size: 50px;
  font-weight: 400;
  color: #3c3c3c;
}

.pitch-left-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  align-self: center;
  margin-bottom: 50px;
  align-items: center
}

.pitch-left-img {
  display: flex;
  flex: 0.25;
  justify-content: center;
}

.pitch-left-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex: 0.34;
  color: #4a4a4a;
}

.pitch-left-title > h2 {
  font-weight: 400 !important;
  font-size: 28px;
  margin: 0px;
}

.pitch-left-text > p {
  text-align: left;
  font-size: 22px;
  margin: 0px;
  font-weight: 200;
}


.pitch-right-container {
  display: flex;
  flex-direction: row-reverse;
  width: 80%;
  align-self: center;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
  transform: translateX(65px);
}

.pitch-right-img {
  display: flex;
  flex: 0.23;
  justify-content: center;
}

.pitch-right-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex: 0.34;
  color: #4a4a4a;
}

.pitch-right-title > h2 {
  font-weight: 400 !important;
  font-size: 28px;
  margin: 0px;
}

.pitch-right-text > p {
  text-align: left;
  font-size: 22px;
  margin: 0px;
  font-weight: 200;
}

.footer-container {
  width: 100%;
  height: 400px;
  background: rgba(99, 139, 230, 1);
  display: flex;
  justify-content: center
}

.footer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Montserrat';
}
.footer-links-container > div > h4 {
  font-weight: 400;
}
.footer-links-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
  align-self: center;
  z-index: 9
}

.footer-left {
  display: flex;
  flex-direction: column;
}

.footer-center {
  display: flex;
  flex-direction: column;
}

.footer-right {
  display: flex;
  flex-direction: column;
}

.footer-title {
  font-size: 28px;
  color: #353a37;
}

.footer-link {
  font-size: 18px;
  font-weight: 200;
  color: white;
  transition: all 0.2s ease;
}

.footer-link:hover {
  color: #b0efb1;
}

.footer-link:visited {
  color: white;
}

.footer-copyright-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer-copyright-container::before {
  content: ' ';
  height: 1px;
  width: 100%;
  background: #b6b9b9;
}

.footer-copyright {
  display: flex;
  font-size: 12px;
  font-weight: 100;
  color: white;
}

.listing-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.listing-containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 80%;
  font-family: 'Montserrat'
}

.listing-section.jumbotron {
  display: flex;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  filter: contrast(75%);
  height: 400px;
  justify-content: center;
  cursor: pointer;
} 

.listing-section.jumbotron > .slogan-container {
  display: flex;
  justify-content: center;
  width: 50%;
  transform: translateY(50px);
}

.listing-section.jumbotron > .slogan-container > .slogan > h1:nth-child(3) {
  background: linear-gradient(#638be6, #7192dc);
  padding: 15px 5px;
}

.listing-section {
  display: flex;
  flex-direction: column;
  background: white;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.listing-section.general-info {
  display: flex;
  flex-direction: column;
  background: white;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.listing-section.general-info > div {
  width: 50%;
  text-align: center;
}

.listing-section > div > h2 {
  display: flex;
  flex-direction: column;
  color: #3a3b3b;
  font-family: 38px;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 400;
}

.listing-section > div > h2::after {
  content: ' ';
  height: 2px;
  width: 500px;
  background: #638be6;
  display: flex;
  align-self: center;
  justify-content: center;
}

.listing-section.users {
  width: 80%;
}

.listing-section.users > div:nth-child(2) {
  width: 100%;
}

.user-section.jumbotron {
  height: 300px;
  background-image: url(http://www.reuun.com/data/out/15/402534079-blue-abstract-wallpapers.png);
  background-size: cover; 
}

.user-section.profile {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  align-self: center;
  justify-content: center;
  transform: translateY(-85px);
}

.user-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.user-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 80px;
  font-family: 'Montserrat';
  justify-content: center;
  text-align: center
}

.user-profile-picture {
  background-image: url(https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAIA_wDGAAAAAQAAAAAAAAp9AAAAJDA0OGQ2N2ZlLWY3MTktNGJkZS1iZWFiLWY5YzgzZDU0MzMwOA.jpg);
  height: 150px;
  width: 150px;
  background-size: cover;
  border-radius: 81px;
  align-self: center;
  border: white solid 8px;
  box-shadow: #b3acac 1px 1px 8px 0px;
  box-sizing: border-box;
  cursor: pointer;
}

.user-name {
  font-size: ~"calc(2vw + 22px)";
  color: #545555;
  align-self: center;
  width: 100%;
  justify-content: center;
}

.user-name > h1 {
  margin: 0px;
  font-weight: 400;
}

.user-headline {
  font-size: ~"calc(0.2vw + 14px)";
  width: 80%;
  color: #808082;
  align-self: center
}

.user-headline > h4 {
  margin: 0px;
  font-weight: 400;
  transform: translateY(-5px);
}

.user-backgrounds {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: ~"calc(0.2vw + 12px)";
  color: #464646;
}

.user-title {

}

.user-bio {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 80%;
  margin: 30px 0;
}

.user-bio > span {
  font-weight: 700;
  align-self: flex-start;
  color: #464646;
}

.user-bio > p {
  margin: 0px;
  text-align: left;
  margin: 20px 0 20px 40px;
}

.user-reason {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 80%;
}

.user-reason > span {
  font-weight: 700;
  align-self: flex-start;
  color: #464646;
}

.user-reason > p {
  margin: 0px;
  text-align: left;
  margin: 20px 0 20px 40px;
}

.user-contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 76%;
  align-self: center;
  line-height: 4
}

.user-contacts > a {
  font-weight: bold;
  color: #515252;
  font-size: ~"calc(0.1vw + 12px)";
  transition: all 0.3s ease;
  text-decoration: none;
  flex-direction: column;
  width: 100%;
}

.user-reason::before {
  content: ' ';
  background: #272727;
  height: 1px;
  margin-bottom: 40px;
}

.user-listings {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 80%;
}

.user-listings > span {
  font-weight: 700;
  align-self: flex-start;
  color: #464646;
}

.user-listings > div {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 140%;
  align-self: center;
  justify-content: center
}

.listing-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%
}

.listing-info {
  display: flex;
  width: 25%;
}

.listing-info > label {
  display: flex;
  margin-right: 20px;
}

.listing-info > label > span {
  display: flex
}

.listing-extra-info-container {
  display: flex;
  flex-direction: column;
  height: 400px;
}

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.info-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 130px
}

.info-block > span {
  font-size: 24px;
  font-family: 'Montserrat';
  font-weight: 300;
  color: #4c4d4d;
}

.listing-section.pictures {
  display: block !important;
  width: 73% !important;
  justify-content: center;
  margin: 50px auto;
}

.listing-section.specs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%
}

.listing-section.specs > div:nth-child(2) {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.listing-spec {
  background: linear-gradient(#b0efb1, #b7f3bb);
  font-size: 22px;
  padding: 5px;
  font-family: 'Montserrat';
  font-weight: 200;
  color: #4c4c4c;
  margin: 3px;
  border-radius: 3px
}

.listing-section.details {
  width: 50%
}

.listing-details {
  display: flex;
  justify-content: center;
}

.listing-details > p {
  font-family: 'Montserrat';
  font-size: 16px;
  color: #2d2d2d;
}

.listing-details > p::selection {
  color: #fff;
  background: #b0efb1
}

.back-btn-container {
  position: absolute;
  height: 100px;
  width: 100px;
  left: 0;
}

.back-btn {
  transition: all 0.5s ease;
  height: 60px !important;
  width: 60px !important;
  fill: #fff !important;
  border-radius: 10px;
  position: fixed;
  transform: translate(80px, 100px);
  text-shadow: black 1px 1px;
  cursor: pointer;
  animation: fade-in-up 0.5s linear 1;
}

.back-btn:hover {
  transform: translate(70px, 100px);
}

.blue {
  fill: #88a6ec !important;
}

@-webkit-keyframes fade-in-up {
    0%{opacity: 0.5; transform: translate(80px, 105px)}
    100%{opacity: 1; transform: translate(80px, 100px)}
}
@-moz-keyframes fade-in-up {
    0%{opacity: 0.5; transform: translate(80px, 105px)}
    100%{opacity: 1; transform: translate(80px, 100px)}
}
@keyframes fade-in-up { 
    0%{opacity: 0.5; transform: translate(80px, 105px)}
    100%{opacity: 1; transform: translate(80px, 100px)}
}

@-webkit-keyframes check-icon-show {
    0%{opacity: 0.5; transform: scale(0.8)}
    50%{opacity: 1; transform: scale(1.05)}
    70%{opacity: 1; transform: scale(1.03)}
    100%{opacity: 1; transform: scale(1)}
}
@-moz-keyframes check-icon-show {
    0%{opacity: 0.5; transform: scale(0.8)}
    50%{opacity: 1; transform: scale(1.02)}
    70%{opacity: 1; transform: scale(1.03)}
    100%{opacity: 1; transform: scale(1)}
}
@keyframes check-icon-show { 
    0%{opacity: 0.5; transform: scale(0.8)}
    50%{opacity: 1; transform: scale(1.02)}
    70%{opacity: 1; transform: scale(1.03)}
    100%{opacity: 1; transform: scale(1)}
}

@-webkit-keyframes check-icon-hide {
    0%{opacity: 1; transform: translateY(0)}
    50%{opacity: 1; transform: translateY(-10px)}
    70%{opacity: 1; transform: translateY(-20px)}
    100%{opacity: 0; transform: translateY(-30px)}
}
@-moz-keyframes check-icon-hide {
    0%{opacity: 1; transform: translateY(0)}
    50%{opacity: 1; transform: translateY(-10px)}
    70%{opacity: 1; transform: translateY(-20px)}
    100%{opacity: 0; transform: translateY(-30px)}
}
@keyframes check-icon-hide { 
    0%{opacity: 1; transform: translateY(0)}
    50%{opacity: 1; transform: translateY(-10px)}
    70%{opacity: 1; transform: translateY(-20px)}
    100%{opacity: 0; transform: translateY(-30px)}
}

.interested-users-container {
}

.interest-btn {
  transition: all 0.5s ease;
  display: flex;
  height: 35px;
  box-sizing: border-box;
  transform: translateY(8px);
  border-radius: 5px 5px 0 0;
  justify-content: center;
  font-size: 18px;
  font-family: 'Montserrat';
  font-weight: 400;
  outline: none;
  cursor: pointer;
  color: #272727;
}
.interest-btn.small {
  transform: translateY(0px);
}

.interest-btn.green {
  background: #b0efb1;
}

.interest-btn.red {
  background: #ef9ea0;
}

.interest-btn.green:hover {
  background: #b8f8bb;
}

.interest-btn.red:hover {
  background: #fba6a8;
}

.save-btn {
  transition: all 0.3s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 100px;
  font-family: 'Montserrat';
  font-weight: bold !important;
  font-size: 14px;
  background: rgba(239, 234, 234, 0.7);
  border: solid #bbbdbd 2px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  margin-top: 10px;
  box-sizing: border-box
}

.save-btn.small {
  width: 50px;
}
.save-btn:hover {
  border: solid #97bf97 2px;
  background: rgba(239, 234, 234, 1);
  box-shadow: #9fb19fa1 1px 1px 2px 0px
}

.save-btn > svg {
  transition: all 0.5s ease;
  fill: #464747 !important;
}

.save-btn:hover > svg {
  fill: rgb(189, 113, 121) !important;
  transform: scale(1.1) !important;
}