html, body {
  margin: 0;
	background-size: cover;
  overflow: visible;
  height: 100%
}

a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
    color: #4f4e4e;
}

a:hover {
  color: #4f4e4e;
  text-decoration: none
}

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

#root {
}

.main-wrapper {
  width: 100%;
  height: 100%;
}

.login-wrapper {
  background: #f6f6f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  width: 100%;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.header {
	background-color: white !important;
  position: fixed;
  margin-bottom: 100px;
  position: fixed !important;
  height: 80px;
  align-items: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0));
  justify-content: center;
  padding: 0 55px !important;
}

.header.transparent {
  background: transparent !important;
  box-shadow: none !important
}

.header.transparent > div > a > h4 {
  color: white !important;
}

.logo-container-header {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
  width: 50%
}

.logo-container-header > h4 {
  color: #757679 !important;
  min-width: 200px;
}

.logo-header {
  transform: translate(0px, 10px);
  min-width: 20px 
}

.header > h1 {
	color: black !important;
  font-family: 'Roboto Slab';
  font-weight: 100 !important;
  padding-top: 5px;
}

.header > button > div > svg {
	color: black !important;
	fill: black !important;
}

.index-wrapper {
	display: flex;
  position: absolute;
	height: 100%;
  width: 100%;
	flex-direction: column;
	align-items: center;
  background-image: url('../images/monumento2.gif');
  background-size: cover;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 100%;
  justify-content: center;
  margin: 260px 0px 100px !important;
}

.form-container:nth-child(2) h1::selection {
  color: white !important;
  background: #b0efb1 !important;
}

.row-wrap {
	display: flex; 
	flex-direction: row; 
	flex: 0.7;
	background: white;
  border-radius: 4px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) -3px 1px 20px 3px;
}

.search-input-main-container {
	display: flex;
  align-items: center;
  width: 42%;
  justify-content: center;
  z-index: 2;
}

.search-input-main-container > div > .search-input {
  height: 70px !important;
}

.search-input-main-container > div > .options-container {
  width: 30%;
  transform: translate(50px, 70px);
  outline: none;
  max-height: 500px;
  overflow: hidden;
  overflow-y: scroll;
  flex-wrap: wrap;
}

.search-input-main-container > div > .options-container > li:hover {
  background: #c7eecd
}

.search-input {
  font-size: calc(1.5vw) !important;
  height: 100% !important;
  width: 400px;
  border: none;
  outline: none;
  font-family: 'Roboto Slab';
}

.search-input:focus-within ~ ul {
  display: flex !important;
}

ul.options-container:active {
  display: flex !important;
}

.search-input::selection {
  color: white !important;
  background: #b0efb1 !important;
}

.icon {
	flex: 0.03;
  height: 70px !important;
  border: none;
  padding: 10px;
  outline: none;
  min-width: 54px;
  color: rgba(88, 88, 88, 0.87) !important;
}
.search-input-main {
  display: flex !important;
  flex: 0.8 !important;
  font-size: calc(1.5vw + 1.5vh) !important;;
  font-weight: 200 !important;;
  border: none !important;;
  font-family: 'Roboto Slab', serif !important;;
  outline: none !important;;
  color: #4a4a4a !important;;
  padding-bottom: 2px !important;
  height: 75px !important
}

.search-input-main > div > hr {
  display: none;
}

.search-input-main > input::selection {
  color: white !important;
  background: #b0efb1 !important;
}

.search-input-main-btn-container {
	flex: 0.1;
  font-size: 40px;
}

.search-input-main-btn-container {
	flex: 0.2;
}

.search-input-main-btn {
  display: flex !important;
  font-size: 30px !important;
  margin-top: 13px !important;
  background: #b0efb1 !important;
  border: none !important;
  color: #585858 !important;
  font-weight: 300 !important;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 5px 0px !important;
  outline: none !important;
  transition: all 0.1s ease !important;
  margin: 13px 30px !important;
  padding: 0px !important;
  height: 61% !important;
}

.search-input-main-btn:hover {
	transform: translateY(-1px) scale(1.004);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px 0px
}

.header-btns-container {
	display: flex;
	justify-content: space-between;
  float: right
}

.header-btns-container > button {
	display: flex !important;
  justify-content: center !important;
  margin: 5px 10px !important;
  border-radius: 3px !important;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 2px 0px;
  transition: all 0.5s ease;
}

.header-btns-container > button:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 2px 1px;
}

.login-btn-header {
	background: #b0efb1 !important;
  color: #606f71 !important;

}

.signup-btn-header {
	background: rgba(99, 139, 230, 0.76) !important;
  color: white !important;
}

.publish-btn-header {
	background: #fff !important;
}

.slogan {
  display: flex;
  align-items: center;
  justify-content: center
}

.slogan > h1 {
  display: flex !important;
  text-align: center;
  font-size: calc(2vw + 2vh);
  font-family: 'Montserrat';
  color: #4a4a4a;
  margin-top: 0;
  text-shadow: #b0f0b1 0px 0px 5px;
}

.logo {
  display: flex;
  background-size: contain;
  height: 121%;
  width: 13%;
  background-repeat: no-repeat;
  overflow: visible;
  align-self: flex-start;
}


/*GOOGLE MAPS RESULTS CONTAINER*/

.pac-container {
  line-height: 130px;
}

.pac-icon {
  display: none
}

.pac-item {
  font-size: calc(16px + 4vh);
  font-weight: 300;
  font-family: 'Roboto Slab';
  color: #808282;
  transition: all 0.2s ease;
  line-height: 30px;
  padding: 5px;
  cursor: pointer;
}

.pac-item:hover {
  background: #d7fee3;
  cursor: pointer;
  transform: translateX(5px);
}

.pac-item-query {
  font-size: calc(16px + 4vh);
  font-weight: 300;
  font-family: 'Roboto Slab';
  color: #575859;
}

.pac-matched {
  font-size: calc(16px + 4vh);
  font-weight: 300;
  font-family: 'Roboto Slab';
  color: #779fb6;  
}

.listings-container {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  width: 100%
}

.results-container-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transform: translateY(25px);
}

.listing-container.listing {
  cursor: pointer;
  overflow: hidden;
}

.listing-container.loading {
  cursor: default;
  transition: all 0.5s ease;
  background: linear-gradient(220deg, #f1f3f4, #f1f3f4, #f1f3f4, #f1f3f4, #e3e4e8, #e3e4e8, #e5e6ea, #e5e6ea, #e5e6ea);
  background-size: 600% 600%;

  -webkit-animation: loading-gradient 2.3s linear infinite;
  -moz-animation: loading-gradient 2.3s linear infinite;
  animation: loading-gradient 2.3s linear infinite;
}

.listing-outer-container {
  transition: all 0.2s ease;
}

.listing-container.listing:hover {
  box-shadow: rgba(0, 0, 0, 0.20) 0px 14px 45px, rgba(0, 0, 0, 0.18) 0px 10px 18px !important
}

.listing-img {
  width: 100%;
  height: 100%;
}

#nprogress {
  position: relative;
  z-index: 9999;
}

@-webkit-keyframes loading-gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes loading-gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes loading-gradient { 
    0%{background-position:0% 50%}
    50%{background-position:80% 50%}
    100%{background-position:0% 50%}
}


.fade-enter {
  opacity: 0.01;
  width: 0px;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  width: 100px;
  transition: 700ms;
}

.fade-leave {
  opacity: 1;
  width: 100px;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  width: 0px;
  transition: 700ms;
}

.info-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.info-container-inner {
  flex: 0.3;
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
}

.info-header {
  display: flex;
  flex-direction: row;
  font-size: 22px;
  justify-content: space-between;
}

.info-title {
  color: #373a3c !important;
  font-size: 90%
}

.info-price {
  font-weight: bold;
  color: rgba(99, 139, 230, 0.76) !important;
}

.info-optional {
  display: flex;
  flex-direction: column;
}

.listing-status-wrapper {
  position: absolute;
  width: 400px;
  display: flex;
  z-index: 99
}

.listing-status-container {
  float: right;
  display: flex;
  font-size: 22px;
  color: #b0efb1;
  border-radius: 0px 0px 20px 0px;
  justify-content: space-between;
  width: 100%;
}

.listing-status {
  display: flex;
  justify-content: center;
  text-shadow: rgb(78, 78, 78) 0px 1px 16px;
  padding: 10px;
}

.listing-status > i {
  font-size: 42px;
}

.mate-icon {
  color: white;
  border-radius: 0px 0px 8px 0px;
}

.add-remove-icon {
  opacity: 0;
  color: white;
  font-size: 42px;
  transition: all 0.1s ease;
}

.add-remove-icon > i {
  transition: all 0.2s ease;
}

.add-remove-icon:hover > i {
  transform: scale(1.2);
}

.interest-status {
  transition: all 0.5s ease;
}

.listing:hover > div > div > div > div.add-remove-icon {
  opacity: 1 !important
}

.slider-btn-wrapper.prev {
  opacity: 0;
  transition: all 0.3s ease;
  display: flex;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.17), rgba(0, 0, 0, 0));
  position: absolute;
  z-index: 1;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  width: 26%;
  align-items: center;
}

.slider-btn-wrapper.next {
  opacity: 0;
  transition: all 0.3s ease;
  display: flex;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.17));
  position: absolute;
  z-index: 1;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  width: 26%;
  align-items: center;
  left: 296px;
}

.listing:hover > div > div > div.slider-btn-wrapper.prev {
  opacity: 1 !important
}

.listing:hover > div > div > div.slider-btn-wrapper.next {
  opacity: 1 !important
}

.slider-btn {
  background: none;
  border: none;
  outline: none;
  display: flex;
  align-self: center;
  height: 29%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 45%;
}

.slick-list {
  position: absolute;
}

.material-icons.prev {
  font-size: 130px;
  color: white;
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: center;
  height: 28%;
  outline: none;
}

.material-icons.next {
  font-size: 130px;
  color: white;
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: center;
  height: 28%;
  outline: none;
}

.slick-slider {
  display: flex;
  flex: 0.68;
}

.results-header-left-container {
  display: flex;
  flex-direction: row;
  width: 44%
}

.search-bar-header-container {
  display: flex;
  height: 44px;
  width: 50%;

}

.search-bar-header-container > div > .search-input-main-btn-container > button {
  display: none !important
}

.search-bar-header-container > div > svg {
  height: 43px !important
}

.search-bar-header-container > .row-wrap {
  box-shadow: rgba(0, 0, 0, 0.2) -3px 1px 10px 0px
}

.search-bar-header-container > .row-wrap > div > div > input {
  font-size: calc(1.5vw) !important;
  height: 100% !important;
  width: 400px;
}

.search-bar-header-container > .row-wrap > div > div.search-input-main {
  height: 100% !important
}
.header > div {
  width: 50% !important;
}

.logo-title {
  z-index: 9;
}

.options-container {
  display: none !important;
  transition: all 0.2s ease;
  position: absolute;
  display: flex;
  flex-direction: column;
  background: white;
  justify-content: center;
  z-index: 9;
  width: 455px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.2) -3px 1px 20px 3px;
  overflow-y:scroll;
  list-style-type: none;
  padding: 0px;
  transform: translateY(45px);
  z-index: -1;
}

.option-container {
  transition: all 0.1s ease;
  height: 60px;
  flex-direction: column;
  background: white;
  width: 455px;
  width: 440px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.option:hover {
  background: #c7eecd
}

.option::after {
  display: flex;
  content: '';
  width: 20%;
  height: 4px;
  border-bottom: solid #cbc9c9 1px;
  transform: translateY(12px);
}

.option {
  font-size: calc(1.5vw);
  font-weight: 200;
  color: #636161;
  transform: translateY(10px);
  width: 100%;
  justify-content: center;
  align-items: center;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cls-1 {
  fill: #fefefe;
}

.cls-2 {
  fill: #87a6eb;
}

.cls-3 {
  fill: #fdfefd;
}

.results-title-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 50px auto;
  align-items: center;
}

h1::selection, h2::selection {
  color: white !important;
  background: #b0efb1 !important;
}

.results-title {
  font-size: calc(6vw);
  color: #4f4e4e;
  font-weight: 200;
  font-family: 'Roboto Slab';
  text-align: center;
}

.results-subtitle {
  font-size: calc(4vw);
  color: #4f4e4e;
  font-weight: 200;
  font-family: 'Roboto Slab';
  text-align: center;
}

.toolbar {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding: 10px;
  width: 700px;
  justify-content: center;
  align-items: center;
  transform: translateY(20px);
  background: linear-gradient(180deg, #e8ebeb, white);
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) -3px 1px 20px 3px;
  font-family: 'Roboto Slab'
}

.price-range-input-wrapper {
  display: flex;
  flex-direction: row
}

.price-range-input-container {
  display: flex;
  flex-direction: column;
  align-items: center
}
.price-range-input {
  display: flex;
  width: 40px;
  margin: 0 10px;
}

.price-range-checkbox-container {
  display: flex;
  flex-direction: column;
  margin: 0px 25px;
  font-family: 'Roboto Slab'
}
.price-range-checkbox-container > div > input {
  margin: 0 5px;
}

.separator {
  margin: 0 40px;
}

.furnished-filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.furnished-filter-container > div > div > label {
  font-family: 'Roboto Slab'
}

.login-form-container {
  width: 30%;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.login-title {
  display: flex;
  font-family: 'Montserrat';
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transform: translateY(-30px);
}

.login-form {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 4px;
  box-shadow: 0 2px 21px 0 rgba(0,0,0,.03), 0 1px 4px 0 rgba(0,0,0,.06);
  padding: 30px;
  max-width: 420px;
}

.login-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.login-input-container > input {
  height: 50px;
  border: solid black 1px;
  border-radius: 5px;
  font-size: 22px;
  padding: 0 10px;
  font-weight: 300;
  color: #454447;
  outline: none;
  transition: all 0.5s ease;
  background: #f6f6f9;
  border: solid #bfc0c3 1px;
}

.login-input-container > label {
  font-family: 'Montserrat';
  font-weight: 400;
}

.login-input-container > input:focus {
  height: 50px;
  border: solid rgba(99, 139, 230, 0.76) 2px;
  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.13), 0 0 1px #4f6eb5
}

.login-input-container > input:invalid {
  border-color: #d85d5f;
  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.13), 0 0 1px #d85d5f;
}

.login-form-btn  {
  margin: 20px 0;
  padding: 10px;
  background: #87a6eb;
  height: 50px;
  color: #434344;
  font-weight: 400;
  font-family: 'Montserrat';
  box-shadow: rgba(0, 0, 0, 0.1) -3px 1px 20px 3px;
  outline: none;
}

.login-form-btn:hover {
  background: #8bacf8;
}

div.login-input-container:nth-child(2)::after  {
  content: ' ';
  height: 1px;
  width: 100%;
  background: #bababa;
  transform: translateY(30px);
}

.login-form-btn.disabled {
  background: #767678
}

.helper-links {
  display: flex;
  justify-content: center
}

.helper-link {
  margin: 20px;
  text-decoration: underline;
}

.login-logo {
  transform: translateY(25px); 
}

.slogan-container {
  width: 50%;
}

.slogan > h1 {
  color: white;
}